@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Over+the+Rainbow&display=swap');
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.text-container {
    position: relative;
    text-align: center;
}

.text1{
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 200px;
    font-weight: bold;
}

.text2 {
    font-family:'Over the Rainbow', cursive;
    position: absolute;
    left: 10px;
    width: 100%;
    font-size: 500px;
    font-weight: bold;
    color: red;  /* Color for the second text */
    top: 0px;   /* You can adjust this value to control the overlap */
}
